{% extends "base.html" %}

{% block content %}
<main class="container" style="margin-top: 30px;">
    <h2>Mis incidencias</h2>

    {% if incidencias|length == 0 %}
        <p>No tienes incidencias registradas.</p>
    {% endif %}

    <div class="incidencias-list">
        {% for i in incidencias %}
        <div class="card" style="padding: 15px; margin-bottom: 10px;">

            <h3>{{ i.tipo }}</h3>
            <p>{{ i.comentario }}</p>

            <small>
                Pedido #{{ i.id_pedido }}  
                | Fecha incidencia: {{ i.fecha_registro }}  
                | Estado: {{ i.estado }}
            </small>

        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}
